.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  cursor: default;
}
